<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}" href="css/index.css" />

</head>
<body>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Error tips</h1>
        <p class="lead">Wrong email or password, please click button below, and input right email and password.</p>
        <a class="btn btn-lg btn-primary" th:href="@{/login}" href="/docs/4.3/components/navbar/" role="button">Go to login back.</a>
    </div>
</main>

<footer class="footer text-center" th:replace="include/footer::footer"></footer>
</body>
</html>