<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${#ctx.application.pageTitle}">Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login.css}" href="css/login.css" />
    <link rel="stylesheet" th:href="@{/css/index.css}" href="css/index.css" />
</head>
<body>

<main role="main" class="container">
<form class="form-signin" th:action="@{/auth/form}" th:method="post">
    <div class="text-center mb-4">
        <img class="mb-4" th:src="@{/images/b.png}" src="images/b.png" alt="" width="145" height="145">
        <h1 class="h3 mb-3 font-weight-normal">Login form</h1>
    </div>

    <div class="form-label-group">
        <input type="email" id="inputEmail" th:name="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" th:name="pass" class="form-control" placeholder="Password" required="">
        <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login(Form style)</button>
    <button class="btn btn-lg btn-primary btn-block" type="button" id="login_button">Login(Ajax style)</button>

</form>

</main>
<footer class="footer text-center" th:replace="include/footer::footer"></footer>
<script th:src="@{/js/common.js}" ></script>
</body>
</html>